*{margin:0;
padding:0;}
ul{
	list-style: none;
}
body{ 
   
  font-family: 'Microsoft YaHei';
  background:url(../images/bg.jpg) repeat;
  padding-top: 30px;
} 
.top{
	width: 100%;
	margin: 0 auto ;
}
.top_monment{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 4px;
}
.top_back {
	width: 10%;
	float: left;
	height: auto;
	padding-top: 20%
}
.top_back img{
	width: 60%;
	padding-left: 24%;

}
.top_forward{
	width: 10%;
	height: auto;
	float: left;
	padding-top: 20%; 
}
.top_forward img{
	width: 60%;
	padding-left:16%;

}
.top_banner{
	width: 80%;
	float: left;
	position: relative;

}
.img_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.top_in{
	position: absolute;
	top: 20px;
	left: 10%;
	width: 80%;
	height:auto;
	overflow: hidden;


}
.top_in img{
	width: 45% !important;
	margin-left: 27% !important;
}
.top_in p{
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 800;
	

}

.top_banner img{
	width: 100%;
	border-radius: 0 0 3px 3px;
	box-shadow:1px 3px 4px 2px #000;
}
.top_in img{
	border-radius: 0 0 0 0;
	box-shadow: none;
}
.none{
	display: none;
}

.dot{
	width: 100%;
	height: 30px;
	margin:0 auto;
	
}

.top_swith{
	width:20%;
	height: 30px;
	margin-left: 41%;
	

}


.top_dot{
	width: 30%;
	display: block;
	height: 45px;
	float: left;
	margin-right:5%;
	background:url(../images/dot.png) no-repeat;
	
}
.active{
	background:url(../images/dot1.png) no-repeat;
}
.liactive{

	background: #e9c040;
}
.no_margin{
	margin-right: 0px;
}


#min{
	 margin:0 auto 0 auto;
	 width:90%;
	}
	
#min #min-top{
	background:url(../images/black.png);
	width:80%;
	margin:0px auto 0 auto;
	
}

#min #min-top #min-top-in{
	  margin:0 auto 0 auto;
	  width:80%;
	}

#min #min-top #min-top-in{
	text-align: center;
	font-size:1.5em;
	color:white;
	padding-bottom: 10%;
}
#tabl {
	 width:80%;
	 margin:20px auto 0 auto;
	 
	}
#tabl	#tabl-in{width:100%;margin:0px auto 0 auto;}
#tabl table{width:100%;margin:0 auto 0 auto;}
#tabl table td{padding:2px auto 0 auto;}
#tabl table input{-webkit-border-radius: 4px;text-indent:4px;width:90%;height:30px;color:gray;border:0px;}


 #tabl .td_select{
	width: 90%;
	height: 30px;

	-webkit-border-radius: 2px; 
	border-radius: 2px; 
	position: relative;
	background: #fff;
	
}
.td_select .select_normal{

	background: url(../images/select.png) no-repeat ; 
	
	width:32px;
	height: 28px;
	cursor: pointer; 
	position: absolute;
	top:1px;
	right: 0;
	
}
.text { 
	height: 30px; 
	line-height: 30px; 
	font-size: 16px; 
	text-indent: 2px;	
	border:0px;
	color:#952449;
}
.area { width:99%; 
		border: 1px solid #bababa;
		 background: #fff; 
	 	position: absolute; 
	 	top: 30px; left: 0; 
	 	display: none; 
	 	color:gray;
	}
.area li { 
	width:99%; 
	line-height: 25px; 
	float: left; 
	padding-left: 10px; 
	cursor: pointer; 
}





#tabl table textarea{-webkit-border-radius: 4px;text-indent:4px;width:100%;height:60px;color:gray;border:0px;}
#tabl  p{
	font-family:微软雅黑;
  color:white;
  font-size:1.5em;}
  
  
#boot{width:100%;height:50px;margin:20px 0 0 0;/* background:url(deds1.png) repeat-x; */}
#boot-in{width:100%;margin:0 auto 0 auto;}
#boot button{cursor:pointer;width:100%;height:45px;border:0px;}
#boota{width:24.75%;float:left;height: 50px; background:url(../images/deds1.png) repeat-x;margin-right: 0.25%;}
#bootb{width:49.75%;float:left;height: 50px; background:url(../images/deds1.png) repeat-x;margin-right:0.25%;}
#bootc{width:25%;float:left;height: 50px; background:url(../images/deds1.png) repeat-x;}
#boota button{margin:0 auto 0 auto;background:url(../images/des.png)no-repeat; }
#bootb button{margin:0 auto 0 auto;background:url(../images/ff.png)no-repeat;}
#bootc button{margin:0 auto 0 auto;background:url(../images/tf.png)no-repeat;}


@media screen and (max-width:520px){
p.gujia{
	font-family:微软雅黑;
  color:white;
  font-size:1em !important;
}
input#quanxian,input#come_from, input#come_from,textarea#description,input#name,input#value,input#source,input.beizhu,input#oinput2{
  	font-size: 0.8em !important;
} 
 } 



 @media screen and (min-width:521px){
 	p.gujia{
	font-family:微软雅黑;
  color:white;
  font-size:1.5em !important;
}
input#quanxian,input#come_from, input#come_from,textarea#description,input#name,input#value,input#source,input.beizhu,input#oinput2{
  	font-size: 1.2em !important;
}
 } 